h3{
    font-weight: 700;
}

.alert-danger{
    --bs-alert-color: #840310;
}

label{
    font-weight: 500;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.fs-6{
    font-size: 0.8rem!important;
    font-weight: 500;
}

